## FACEIT Data Science Challenge

### Q2: Data Exploration


#### Load the data

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("client__1_.xlsx")
df.head()

,user_id,first_day,latest_day,lifespan,client,membership_type,joined_at_least_1_hub
0,594132bd-7b3e-4ec4-b752-06ee1711d297,2017-10-11,2017-10-11,0,new_client,free,NaN
1,533f08c8-e1ee-4925-96d9-9aeeba55b5ba,2017-10-11,2017-10-11,0,new_client,free,NaN
2,0840ad75-5337-4193-8cf8-0348b126e697,2017-10-11,2017-10-11,0,web_client,free,NaN
3,6e51c17f-4a81-4bb9-9f35-f0e2839da86e,2017-10-11,2017-10-11,0,new_client,free,1.0
4,f0dde747-b394-4a75-a74f-5e4adec18a28,2017-10-11,2017-10-11,0,new_client,free,NaN

The hypothesis to tests is:

H0: The *proportion* of users who used the new client *and* joined at least 1 hub is larger than the *proportion* of users who are using the old web client *and* joined at least one hub.

Let's first get some numbers

In [14]:
# Total number of users
Total = df.shape[0]
Total

3305

In [15]:
# The proportion of users that used the new client: P(new_client)
P_new_client = sum(df["client"] == "new_client")/df.shape[0]
P_new_client

0.5473524962178518

In [16]:
# the web client: P(web_client)
P_web_client = sum(df["client"] == "web_client")/df.shape[0]
P_web_client

0.45264750378214824

In [17]:
# The poportion of users that actually joined at least 1 hub: P(joined)
P_joined = sum(df["joined_at_least_1_hub"] == 1)/df.shape[0]
P_joined

0.8502269288956127

In [20]:
# the porportion of users that joined at least 1 hub, that used the web client: P(joined_1_hub|web_client)
df_joined = df[df["joined_at_least_1_hub"] == 1]
P_joined_web_client = sum(df_joined["client"] == "web_client")/df_joined.shape[0]
P_joined_web_client

0.44590747330960856

In [21]:
# the porportion of users that joined at least 1 hub, that used the new client: P(joined_1_hub|new_client)
P_joined_new_client = sum(df_joined["client"] == "new_client")/df_joined.shape[0]
P_joined_new_client

0.5540925266903914

To inspect the null hypothesis, we need to determine the *proportion* of users who used the new client *and* joined at least 1 hub. Using the Bayes Formula:

P(A|B) = P(B|A) * P(A) / P(B)

Where:
A = client (new client or web client)
B = joined
Thus we rewrite the above forula as:

P(client|joined) = P(joined|client) * P(client) / P(joined)

Substituting the values we computed above we get:

In [22]:
P_new_client_joined = (P_joined_new_client * P_new_client) / P_joined
P_new_client_joined

0.3567093881789744

In [23]:
P_web_client_joined = (P_joined_web_client * P_web_client) / P_joined
P_web_client_joined

0.23739415660895885

### FeedbacK

Since P_new_client_joined > P_web_client_joined, we have failed to reject the null hypothesis. Thus, based upon the subset of users in this dataset, the null hypothesis holds.